.signIn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2231AA;
    border: none;
    background: none;
    text-decoration: none;
}