.entranceMain {
    width: 100%;
    height: auto;
    background: #44159d36;

    .main {
        width: 1120px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }

    .shellPager {
        width: 1120px;
        height: 94px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}