.header {
  display: flex;
  width: 100%;
  height: 3em;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}

.header .link {
  margin: 0 .25em;
}

.header .link.active {
  color: yellowgreen;
}