.entranceHeader {
    width: 100%;
    padding-top: 100px;

    &.dark_mode {
        color: antiquewhite;
    }

    .header {
        width: 1120px;
        margin: 0 auto;

        .upIndent {
            height: 30px;
        }

        .articlesNews {
            height: 176px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .blog {
                height: 80px;
                color: #313037;
                font-family: Inter;
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: 80px;

                &.dark_mode {
                    color: antiquewhite;
                }
            }

            .artN {
                height: 56px;
                display: flex;
                color: #313037;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                align-items: end;
                border-bottom: 1px solid blue;

                .articles {
                    width: 90px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .news {
                    width: 90px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .downIndent {
            width: 1120px;
            height: 70px;
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 64px;

            .timeInterval {
                height: 100%;
                width: auto;
                display: flex;

                .day,
                .week,
                .month,
                .year {
                    width: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    border-radius: 4px;
                    background: rgba(49, 48, 55, 0.10);
                    color: #313037;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    margin: 10px;
                }
            }
        }
    }
}