.pager {
    width: 180px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    a {
        color: rgb(54, 149, 156);
    }

    .current-page {
        color: darkblue;

        &.dark_mode {
            color: antiquewhite;
        }
    }
}