.shellHeader {
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid blue;

    &.dark_mode {
        background-color: #080538;
        transition: 0.5s;
    }

    .header {
        width: 1350px;
        height: 96px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 167px;
            height: 56px;
            margin-left: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;

            .img {
                position: absolute;
            }

            .text {
                color: #FFF;
                text-align: center;
                font-family: Inter;
                font-size: 18.667px;
                font-style: normal;
                font-weight: 800;
                line-height: 39.667px;
                letter-spacing: 0.56px;
                z-index: 1;
            }
        }

        .authorize {
            width: 227px;
            height: 56px;
            margin-right: 32px;
            display: flex;
            justify-content: space-between;
            text-align: center;

            .search {
                width: 57px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid blue;

                &.dark_mode {
                    background-color: #828e8f;
                }
            }
        }
    }
}